/* reset */
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
img {
    vertical-align: top;
    border: 0;
}
body {
    color: #333333;
}

/* 레이아웃 */
.wrap {
    width: 1920px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 1000px;
    position: relative;
    z-index: 10;
}
header .clothes_img {
    width: 100%;
    height: 1000px;
}
header .web_txt1 {
    position: absolute;
    left: 135px;
    top: 428px;
}
header .web_txt1 li {
    color: #fff;
    font-size: 36px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
header .calvin_txt {
    position: absolute;
    left: 131px;
    top: 480px;
}
header .calvin_txt li {
    color: #fff;
    font-size: 64px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
header ul.design_txt {
    position: absolute;
    left: 135px;
    top: 700px;
}
header ul.design_txt li {
    color: #ccc;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
header ul.design_txt p {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
header ul.tool_txt {
    position: absolute;
    left: 323px;
    top: 700px;
}
header ul.tool_txt li {
    color: #ccc;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
header ul.tool_txt p {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
header ul.type_txt {
    position: absolute;
    left: 499px;
    top: 700px;
}
header ul.type_txt li {
    color: #ccc;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
header ul.type_txt p {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.over_view {
    width: 100%;
    height: 640px;
    position: relative;
    background: linear-gradient(to bottom, #373737, #fafafa);
}
.over_view h2 {
    position: absolute;
    left: 398px;
    top: 288px;
    float: left;
    width: 230px;
    height: 58px;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
    color: #000;
}
.over_view ul.view_txt {
    padding-left: 868px;
    padding-top: 290px;
    float: left;
    width: 927px;
    height: 35px;
}
.over_view ul.view_txt li {
    float: right;
    text-align: left;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}
.over_view ul.view_txt li a {
    display: block;
    width: 790px;
    height: 35px;
    padding-left: 50px;
    font-size: 24px;
    font-weight: bold;
}
.over_view ul.view_txt p {
    padding-left: 136px;
    padding-top: 60px;
    width: 780px;
    height: 110px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
    color: #333;
}
.as_be {
    width: 100%;
    height: 1200px;
    position: relative;
    background-color: #fafafa;
    /* border-top: 1px solid #ddd; */
}
.as_be .analy_txt1 {
    position: absolute;
    left: 398px;
    top: 224px;
}
.as_be .analy_txt1 li {
    color: #000;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.as_be .analy_txt2 {
    position: absolute;
    left: 398px;
    top: 307px;
}
.as_be .analy_txt2 li {
    color: #6c6c6c;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.as_be .as_txt {
    position: absolute;
    left: 267px;
    top: 579px;
    text-align: center;
}
.as_be .as_txt li {
    color: #6C6C6C;
    font-size: 36px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.as_be .as_box1 {
    position: absolute;
    left: 416px;
    top: 542px;
    width: 330px;
    height: 116px;
    background-color: #6c6c6c;
    border-radius: 60px;
    z-index: 10;
}
.as_be .as_txt1 li {
    position: absolute;
    left: 478px;
    top: 585px;
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 12;
}
.as_be .cero1 {
    position: absolute;
    left: 611px;
    top: 658px;
    height: 158px;
    border-width: 0;
    width: .5vw;
}
.as_be .as_box2 {
    position: absolute;
    left: 488px;
    top: 542px;
    width: 330px;
    height: 109px;
    border: 4px solid #6c6c6c;
    border-radius: 60px;
    z-index: 5;
}
.as_be .as_txt2 li {
    position: absolute;
    left: 942px;
    top: 585px;
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    z-index: 12;
}
.as_be .cero2 {
    position: absolute;
    left: 1091px;
    top: 658px;
    height: 158px;
    border-width: 0;
    width: .5vw;
}
.as_be .as_box3 {
    position: absolute;
    left: 888px;
    top: 542px;
    width: 330px;
    height: 116px;
    background-color: #6c6c6c;
    border-radius: 60px;
    z-index: 10;
}
.as_be .as_txt3 li {
    position: absolute;
    left: 1404px;
    top: 585px;
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    z-index: 12;
}
.as_be .cero3 {
    position: absolute;
    left: 1571px;
    top: 658px;
    height: 158px;
    border-width: 0;
    width: .5vw;
}
.as_be .as_box4 {
    position: absolute;
    left: 961px;
    top: 542px;
    width: 330px;
    height: 109px;
    border: 4px solid #6c6c6c;
    /* box-shadow: 5px 5px 5px #ccc; */
    border-radius: 60px;
    z-index: 5;
}
.as_be .as_txt4 li {
    position: absolute;
    left: 510px;
    top: 861px;
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    z-index: 12;
}
.as_be .as_box5 {
    position: absolute;
    left: 1361px;
    top: 542px;
    width: 330px;
    height: 116px;
    background-color: #6c6c6c;
    /* box-shadow: 10px 10px 10px #ccc; */
    border-radius: 60px;
    z-index: 10;
}
.as_be .as_txt5 li {
    position: absolute;
    left: 966px;
    top: 861px;
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    text-align: center;
    z-index: 12;
}
.as_be .as_box6 {
    position: absolute;
    left: 1434px;
    top: 542px;
    width: 330px;
    height: 109px;
    border: 4px solid #6c6c6c;
    border-radius: 60px;
    z-index: 5;
}
.as_be .as_txt6 li {
    position: absolute;
    left: 1452px;
    top: 861px;
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    z-index: 12;
}
.as_be .be_txt1 {
    position: absolute;
    left: 259px;
    top: 847px;
}
.as_be .be_txt1 li {
    color: #252525;
    font-size: 36px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.as_be .be_box1 {
    position: absolute;
    left: 446px;
    top: 818px;
    width: 330px;
    height: 109px;
    border: 4px solid #252525;
    border-radius: 60px;
}
.as_be .be_box2 {
    position: absolute;
    left: 926px;
    top: 818px;
    width: 330px;
    height: 109px;
    border: 4px solid #252525;
    border-radius: 60px;
}
.as_be .be_box3 {
    position: absolute;
    left: 1406px;
    top: 818px;
    width: 330px;
    height: 109px;
    border: 4px solid #252525;
    border-radius: 60px;
}

.web_color {
    width: 100%;
    height: 900px;
    /* border-top: 1px solid #ddd; */
    background-color: #fafafa;
    position: relative;    
}
.web_color h2 {
    position: absolute;
    left: 397px;
    top: 127px;
    color: #000;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .color_txt1 {
    position: absolute;
    left: 397px;
    top: 204px;
}
.web_color .color_txt1 li {
    color: #6C6C6C;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .color_hr {
    position: absolute;
    left: 491px;
    top: 423px;
}
.web_color .color_cir1 {
    position: absolute;
    left: 485px;
    top: 418px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #000;
}
.web_color .bl_cero {
    position: absolute;
    left: 573px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .black {
    position: absolute;
    left: 523px;
    top: 460px;
}
.web_color .black img {
    width: 100px;
    height: 100px;
}
.web_color .dgr1_cero {
    position: absolute;
    left: 702px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .dark_gr {
    position: absolute;
    left: 652px;
    top: 460px;
}
.web_color .dark_gr img {
    width: 100px;
    height: 100px;
}
.web_color .wh_cero {
    position: absolute;
    left: 831px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .white {
    position: absolute;
    left: 781px;
    top: 460px;
}
.web_color .white img {
    width: 100px;
    height: 100px;
}
.web_color .gr_cero {
    position: absolute;
    left: 960px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .gray {
    position: absolute;
    left: 910px;
    top: 459px;
}
.web_color .gray img {
    width: 100px;
    height: 100px;
}
.web_color .ddgr_cero {
    position: absolute;
    left: 1089px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .deep_dgray {
    position: absolute;
    left: 1039px;
    top: 459px;
}
.web_color .deep_dgray img {
    width: 100px;
    height: 100px;
}
.web_color .r_cero {
    position: absolute;
    left: 1210px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .red {
    position: absolute;
    left: 1160px;
    top: 459px;
}
.web_color .red img {
    width: 100px;
    height: 100px;
}
.web_color .dgr2_cero {
    position: absolute;
    left: 1347px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .dgray {
    position: absolute;
    left: 1297px;
    top: 459px;
}
.web_color .dgray img {
    width: 100px;
    height: 100px;
}
.web_color .salgu_cero {
    position: absolute;
    left: 1476px;
    top: 423px;
    height: 63px;
    border-width: 0;
    width: .5vw;
}
.web_color .salgu {
    position: absolute;
    left: 1426px;
    top: 459px;
}
.web_color .salgu img {
    width: 100px;
    height: 100px;
}
.web_color .color_cir2 {
    position: absolute;
    left: 1554px;
    top: 418px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #000;
}
.web_color .num1 {
    position: absolute;
    left: 523px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .num2 {
    position: absolute;
    left: 652px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .num3 {
    position: absolute;
    left: 784px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .num4 {
    position: absolute;
    left: 902px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .num5 {
    position: absolute;
    left: 1042px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .num6 {
    position: absolute;
    left: 1170px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .num7 {
    position: absolute;
    left: 1298px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_color .num8 {
    position: absolute;
    left: 1425px;
    top: 559px;
    color: #202020;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_typo {
    width: 100%;
    height: 900px;
    border-bottom: 1px solid #737373;
    border-radius: 0px 0px 100px 100px;
    background-color: #fafafa;
    position: relative;
    z-index: 10;
}
.web_typo h2 {
    position: absolute;
    left: 397px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_typo .typo_txt1 {
    position: absolute;
    left: 397px;
    top: 92px;
}
.web_typo .typo_txt1 li {
    color: #6C6C6C;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_typo .jeju_txt1 {
    position: absolute;
    left: 399px;
    top: 466px;
    color: #000;
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.web_typo .jeju_txt2 {
    position: absolute;
    left: 397px;
    top: 667px;
    color: #6C6C6C;
    font-size: 30px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}
.web_typo .inter_txt1 {
    position: absolute;
    left: 1038px;
    top: 466px;
    color: #000;
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.web_typo .inter_txt2 {
    position: absolute;
    left: 1038px;
    top: 661px;
    color: #6C6C6C;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_typo .regular_hr {
    position: absolute;
    left: 1360px;
    top: 678px;
}
.web_typo .regular_cir {
    position: absolute;
    left: 1435px;
    top: 674px;
    width: 11px;
    height: 11px;
    background-color: #6C6C6C;
    border-radius: 50%;
}
.web_typo .inter_txt3 {
    position: absolute;
    left: 1038px;
    top: 749px;
    color: #6C6C6C;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.web_typo .medium_hr {
    position: absolute;
    left: 1360px;
    top: 767px;
}
.web_typo .medium_cir {
    position: absolute;
    left: 1435px;
    top: 763px;
    width: 11px;
    height: 11px;
    background-color: #6C6C6C;
    border-radius: 50%;
}
.web_typo .inter_txt4 {
    position: absolute;
    left: 1465px;
    top: 657px;
    color: #6C6C6C;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
} 
.web_typo .inter_txt5 {
    position: absolute;
    left: 1465px;
    top: 747px;
    color: #6C6C6C;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
.main_design {
    width: 100%;
    height: 3232px;
    padding-top: -120px;
    background-color: #fafafa;
    position: relative;
    z-index: 5;
}
.main_design h2.main_txt {
    position: absolute;
    left: 398px;
    top: 277px;
}
.main_design h2.main_txt li {
    color: #000;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .main_img {
    position: absolute;
    left: 461px;
    top: 510px;    
}
.main_design .main_img img {
    width: 1000px;
    height: 2608.92px;
}
.main_design .page_txt1 {
    position: absolute;
    left: 135px;
    top: 634px;
}
.main_design .page_txt1 li {
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .page_hr {
    position: absolute;
    left: 135px;
    top: 671px;
}
.main_design .page_txt2 {
    position: absolute;
    left: 135px;
    top: 689px;
}
.main_design .page_txt2 li {
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: medium;
}
.main_design .new_txt1 {
    position: absolute;
    left: 1665px;
    top: 993px;
}
.main_design .new_txt1 li {
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .new_hr {
    position: absolute;
    left: 1466px;
    top: 1035px;
}
.main_design .new_txt2 {
    position: absolute;
    left: 1498px;
    top: 1054px;
}
.main_design .new_txt2 li {
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: medium;
}
.main_design .ban1_txt1 {
    position: absolute;
    left: 135px;
    top: 1316px;
}
.main_design .ban1_txt1 li {
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .ban1_hr {
    position: absolute;
    left: 135px;
    top: 1356px;
}
.main_design .ban1_txt2 {
    position: absolute;
    left: 135px;
    top: 1373px;
}
.main_design .ban1_txt2 li {
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: medium;
}
.main_design .best_txt1 {
    position: absolute;
    left: 1665px;
    top: 1671px;
}
.main_design .best_txt1 li {
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .best_hr {
    position: absolute;
    left: 1466px;
    top: 1715px;
}
.main_design .best_txt2 {
    position: absolute;
    left: 1495px;
    top: 1730px;
}
.main_design .best_txt2 li {
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: medium;
}
.main_design .ban2_txt1 {
    position: absolute;
    left: 135px;
    top: 2030px;
}
.main_design .ban2_txt1 li {
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .ban2_hr {
    position: absolute;
    left: 135px;
    top: 2070px;
}
.main_design .ban2_txt2 {
    position: absolute;
    left: 135px;
    top: 2088px;
}
.main_design .ban2_txt2 li {
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: medium;
}
.main_design .shop_txt1 {
    position: absolute;
    left: 1665px;
    top: 2401px;
}
.main_design .shop_txt1 li {
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .shop_hr {
    position: absolute;
    left: 1464px;
    top: 2440px;
}
.main_design .shop_txt2 {
    position: absolute;
    left: 1470px;
    top: 2455px;
}
.main_design .shop_txt2 li {
    color: #000;
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: medium;
}
.main_design .footer_txt {
    position: absolute;
    left: 158px;
    top: 2975px;
}
.main_design .footer_txt li {
    color: #000;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.main_design .footer_hr {
    position: absolute;
    left: 283px;
    top: 2990px;
}
.main_design .footer_cir {
    position: absolute;
    left: 278px;
    top: 2986px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #000;
}
.publishing {
    width: 100%;
    height: 1570px;
    position: relative;
}
.publishing .publish_txt1 {
    position: absolute;
    left: 398px;
    top: 144px;
}
.publishing .publish_txt1 li {
    color: #000;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.publishing .publ_img1 {
    position: absolute;
    left: -226px;
    top: 644px;
}
.publishing .publ_img1 img {
    width: 750px;
    height: 397.03px;
}
.publishing .publ_img2 {
    position: absolute;
    left: 586px;
    top: 644px;
}
.publishing .publ_img2 img {
    width: 750px;
    height: 397.03px;
}
.publishing .publ_img3 {
    position: absolute;
    left: 1398px;
    top: 644px;
}
.publishing .publ_img3 img {
    width: 750px;
    height: 397.03px;
}
.epilogue {
    width: 100%;
    height: 640px;
    background-color: #474747;
    position: relative;
}
.epilogue .epil_txt1 {
    position: absolute;
    left: 407px;
    top: 205px;
}
.epilogue .epil_txt1 li {
    width: 1042px;
    height: 88px;
    color: #fff;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
.epilogue .epil_cir {
    position: absolute;
    left: 608px;
    top: 266px;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
}
.epilogue hr {
    position: absolute;
    left: 409px;
    top: 271px;
}
.epilogue .epil_txt2 {
    position: absolute;
    left: 409px;
    top: 318px;
}
.epilogue .epil_txt2 li {
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: medium;
}
